@inject SignInManager<ApplicationUser> signInManager
@model IEnumerable<ProjectsViewModel>


@if (!signInManager.IsSignedIn(User))
{
    <h1 class="info-message">Please Sign In or Sign Up</h1>
}
else
{
    if (Model.Any())
    {
        <div class="projects"> 
            @foreach (var project in Model)
            {
                <div class="project-card">
                    <div class="project-card-project-name">
                        Project Name: @project.ProjectName
                    </div>
                    <div class="project-card-structure-type">
                        Structure Type: @StructuralMechanics.Utilities.EnumDisplayHelper.GetDisplayName(project.StructureType)
                    </div>
                    <div class="project-card-buttons">
                        <a class="btn btn-primary" asp-controller="Overview" asp-action="Index" asp-route-structureId="@project.StructureId">Continue</a>
                        <a class="btn btn-primary" asp-controller="Projects" asp-action="Edit" asp-route-projectId="@project.ProjectId">Edit</a>
                        <form method="post" asp-action="Delete" asp-controller="Projects" asp-route-projectId="@project.ProjectId">
                            <button class="btn btn-danger">Delete</button>
                        </form>  
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="info-message">
            <h1>There's no projects! Create one.</h1>
            <a asp-controller="Projects" asp-action="Create">Create</a>
        </div> 
    }
}