@model SimpleShapeViewModel

@{
    ViewBag.Title = "Create Shape";
}

@section SidebarNavigation {
    <ul>
        <li><a asp-area="Project" 
               asp-controller="@ViewBag.StructureType" 
               asp-action="Overview" 
               asp-route-projectId="@ViewBag.ProjectId">Back To Structure</a></li>
        <li><a asp-area="Project" 
               asp-controller="SimpleShapes" 
               asp-action="Index" 
               asp-route-projectId="@ViewBag.ProjectId">Back To Shapes</a></li>
    </ul>
}

<form method="post" asp-controller="SimpleShapes" asp-action="Create">
    <div class="form-row">
        <div class="form-item">
            <label asp-for="FirstPoint"></label>
            <select asp-for="FirstPoint">
                @foreach (var point in Model.Points)
                {
                    <option value="@point.Id">@point.ToString()</option>
                }
            </select>
            <span asp-validation-for="FirstPoint" class="error-message"></span>
        </div>
        <div class="form-item">
            <label asp-for="SecondPoint"></label>
            <select asp-for="FirstPoint">
                @foreach (var point in Model.Points)
                {
                    <option value="@point.Id">@point.ToString()</option>
                }
            </select>
            <span asp-validation-for="SecondPoint" class="error-message"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label asp-for="GeometryType"></label>
            <select asp-for="GeometryType">
                <option value="@Convert.ToInt32(GeometryType.Arc)">Arc</option>
                <option value="@Convert.ToInt32(GeometryType.HorizontalLine)">Horizontal Line</option>
                <option value="@Convert.ToInt32(GeometryType.SlopeLine)">Slope Line</option>
                <option value="@Convert.ToInt32(GeometryType.VerticalLine)">Vertical Line</option>
            </select>
            <span asp-validation-for="GeometryType" class="error-message"></span>
        </div>
        <div class=form-item>
            <label asp-for="Thickness"></label>
            <input asp-for="Thickness"/>
            <span asp-validation-for="Thickness" class="error-message"></span>
        </div>
    </div>
    <div class="form-row">
        <div asp-validation-summary="All" class="error-message"></div>
    </div>
    <hr class="main-hr" />
    <button type="submit" class="btn btn-primary">Create</button>
</form>